{% extends "landing/base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h2>About Us</h2>
    </div>
    <div class="row mt-3">
        <img src="https://media.istockphoto.com/photos/overhead-view-of-a-group-of-smiling-people-picture-id453970367" class="img-fluid">
    </div>

    <div class="row mt-2 mt-lg-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis temporibus, assumenda sequi porro itaque non eum provident, aut earum, ipsum natus debitis. Recusandae minus sint quis accusantium qui sed suscipit.
    </div>


</div>
{% endblock %}